.time-slots  {
  .picker {
    width:230px;
    margin-left:5px;
  }
  .datetimesmarker{
    font-size:20px;
    margin:0 0 0 5px;
  }
  .input-group-btn {
    .btn {
      line-height:20px;
    }
  }
}
