<div class="panel panel-default" ng-class="{'panel-danger': order.isDirty}">
  <div class="panel-heading">List of topics, for course:
    <select ng-model="selectedCourse" ng-options="course.name for course in courses" ng-show="!order.isDirty">
      <option value="">-- All --</option>
    </select>

    <a ui-sref="topics.add" title="Add Course" class="pull-right" ng-show="!order.isDirty">Add</a>

    <div class="btn-group pull-right" ng-show="order.isDirty">
      <button type="button" class="btn btn-success btn-xs" ng-click="saveOrder()">
        Save order
      </button>
      <button type="button" class="btn btn-warning btn-xs" ng-click="cancelOrder()">
        Cancel
      </button>
    </div>
  </div>

  <div class="panel-body warning">
    <div ng-switch on="data.records.length > 0">
      <!-- Display the records when available -->
      <div ng-switch-when="true">
        <table class="table table-hover">
          <thead>
            <tr role="row">
              <th>Name</th>
              <th class="cell-actions">Actions</th>
          </thead>

          <tbody ui-sortable="sortableOptions" ng-model="data.records">
            <tr ng-repeat="record in data.records" ng-controller="TopicsItemCtrl">
              <td ng-bind="record.name" ui-sref="topics.details({id: record._id})"></td>
              <td>
                <button type="button" class="btn btn-labeled btn-default btn-xs" ui-sref="topics.update({id: record._id})">
                  <span class="btn-label"><i class="fa fa-edit"></i></span>Edit
                </button>
                <button type="button" class="btn btn-labeled btn-danger btn-xs" ng-click="deleteItem(record)">
                  <span class="btn-label"><i class="fa fa-trash-o"></i></span>Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>

      </div>

      <!-- Say sorry when we are not able to display the records -->
      <div ng-switch-default>
        There are no data available.
      </div>
    </div>
  </div>
  <!-- //.panel-body -->

  <div class="panel-footer">
    <p ng-show="order.isDirty">
      The order of the content has been changed!
    </p>
  </div>

</div>