<div class="panel panel-default">
  <div class="panel-heading">{{'RESTAURANT_ORDER_LIST_PANEL_HEADING' | translate}}

    <select ng-model="selectedStatus"
      ng-options="status as status | translate for status in statuses"
      ng-change="changeselectedStatus()">
    >
      <option value="">-- {{'RESTAURANT_ORDER_LIST_PANEL_HEADING_ALL_OPTION' | translate}} --</option>
    </select>




  </div>
  <div class="panel-body">

    <div ng-switch on="data.orders.length > 0">
      <!-- Display the news when available -->
      <div ng-switch-when="true">

        <table class="table table-hover">
          <thead>
            <tr role="row">
              <th></th>
              <th>#</th>
              <th>{{'RESTAURANT_ORDER_LIST_TABLE_DATE' | translate}}</th>
              <th>{{'RESTAURANT_ORDER_LIST_TABLE_FULL_NAME' | translate}}</th>
              <th>{{'RESTAURANT_ORDER_LIST_TABLE_STATUS' | translate}}</th>
              <th>{{'RESTAURANT_ORDER_LIST_TABLE_METHOD' | translate}}</th>
              <th>{{'RESTAURANT_ORDER_LIST_TABLE_ITEMS' | translate}}</th>
              <th class="hidden">{{'RESTAURANT_ORDER_LIST_TABLE_ESTIMATION' | translate}}</th>
              <th>{{'RESTAURANT_ORDER_LIST_TABLE_ACTIONS' | translate}}</th>
          </thead>

          <tbody ng-init="openIndex=-1">
            <tr ng-repeat="item in data.orders"
            ng-class="{success: (item.status === 'STATUS_DELIVERED'), warning: (item.status === 'STATUS_NEW_UNREAD'), danger: (item.status === 'STATUS_CANCELED')}">
              <td><em ng-show="item.status === 'STATUS_NEW_UNREAD'" class="fa fa-circle text-danger"></em></td>
              <td>{{item.friendlyID}}</td>
              <td ui-sref="restaurant_orders.details({id: item._id})"> {{ item.date | localdate | date:'d MMMM yyyy H:mm'}}</td>
              <td ui-sref="restaurant_orders.details({id: item._id})" ng-bind="item.shipping.fullname"></td>
              <td ui-sref="restaurant_orders.details({id: item._id})">{{item.status | translate}}</td>
              <td ui-sref="restaurant_orders.details({id: item._id})">
                <em class="fa"
                    ng-class="{'fa-truck': (item.deliveryMethod === 'METHOD_DELIVERY'), 'fa-thumb-tack': (item.deliveryMethod === 'METHOD_TAKEAWAY'), 'fa-ticket': (item.deliveryMethod === 'METHOD_DINEIN') }"
                    style="min-width: 20px;">
                </em>
                {{item.deliveryMethod | translate}}</td>
              <td>{{item.items.length}}</td>
              <td class="hidden">{{item.preparationTime()}} min</td>
              <td>
                <div class="btn-group">
                  <button ng-click="preview($index)" type="button" class="btn btn-default"><em class="fa fa-eye"></em></button>
                  <button type="button" ui-sref="restaurant_orders.details({id: item._id, ref:'print'})" class="btn btn-default"><em class="fa fa-print"></em></button>
                  <div class="btn-group" dropdown ng-init="opened=false" ng-class="{'open': opened && $parent.openIndex == $index}">
                    <button type="button" class="btn btn-default dropdown-toggle"  ng-click="opened = $parent.openIndex==$index && opened ? false : true;  $parent.openIndex = $index;">
                      <em class="fa fa-ellipsis-v" style="min-width: 11px;"></em>
                    </button>
                    <ul class="dropdown-menu pull-right text-left">
                      <li>
                        <a href="javascript:void(0);" ng-click="open($index);">{{'RESTAURANT_ORDER_LIST_DROPDOWN_MENU_STATUS_NEW' | translate}}</a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" ng-click="progress($index)">{{'RESTAURANT_ORDER_LIST_DROPDOWN_MENU_STATUS_IN_PROGRESS' | translate}}</a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" ng-click="shipped($index)">{{'RESTAURANT_ORDER_LIST_DROPDOWN_MENU_STATUS_SHIPPED' | translate}}</a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" ng-click="complete($index)">{{'RESTAURANT_ORDER_LIST_DROPDOWN_MENU_STATUS_COMPLETE' | translate}}</a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" ng-click="cancel($index)">{{'RESTAURANT_ORDER_LIST_DROPDOWN_MENU_STATUS_CANCEL' | translate}}</a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" ng-click="archive($index)">{{'RESTAURANT_ORDER_LIST_DROPDOWN_MENU_STATUS_ARCHIVE' | translate}}</a>
                      </li>
                    </ul>
                  </div><!-- /.btn-group -->
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <!-- news pager -->
        <ul class="pager">
          <!-- Previous button when enabled-->
          <li class="previous" ng-hide="paginator.previous()">
            <a href ng-click="previousPage()">{{'RESTAURANT_ORDER_LIST_PAGER_PREVIOUS' | translate}}</a>
          </li>

          <!-- Previous button when disabled-->
          <li class="previous disabled" ng-show="paginator.previous()">
            <a href>{{'RESTAURANT_ORDER_LIST_PAGER_PREVIOUS' | translate}}</a>
          </li>

          <li>
              page {{paginator.getPage()}} / {{paginator.getPages()}}
          </li>

          <!-- Next button when enabled-->
          <li class="next" ng-hide="paginator.next()">
            <a ng-click="nextPage()">{{'RESTAURANT_ORDER_LIST_PAGER_NEXT' | translate}}</a>
          </li>

          <!-- Next button when disabled-->
          <li class="next disabled" ng-show="paginator.next()">
            <a href>{{'RESTAURANT_ORDER_LIST_PAGER_NEXT' | translate}}</a>
          </li>
        </ul>
      </div>

      <!-- Say sorry when we are not able to display the news -->
      <div ng-switch-default>
        There are no data available.
      </div>
    </div>
  </div><!-- //.panel-body -->

</div>
