
<!-- START wrapper-->
<div class="sumbissioncode row row-table page-wrapper" style="position: fixed">
      <div class="col-lg-5 col-md-6 col-sm-8 col-xs-12 align-middle">
         <!-- START panel-->
         <div  data-toggle="play-animation" data-play="fadeIn" data-offset="0" class="panel panel-dark panel-flat anim-running anim-done" style="" ng-class="{ 'csspinner traditional': ui.inProgress }">
            <div class="panel-heading text-center">
              <a href="#">
                 <img src="http://eposterslive.com.s3.amazonaws.com/scg-branding/scg-logo-42x44.png" alt="Image" class="block-center img-rounded">
              </a>
               <h3 class="text-center mt-lg">Can't find your ePoster Submission Code(s)?</h3>
            </div>
            <div class="panel-body" ng-show="data.model.isSupported">
               <form role="form" name="submissionForm" >
                  <div class="form-group has-feedback">
                     <label for="resetInputEmail1">Enter the email address you used during abstract submission to {{data.model.conferenceName}}.</label>
                     <input id="resetInputEmail1" type="email" placeholder="e.g.: john.smith@email.com" ng-model="data.model.email" class="form-control">
                     <span class="fa fa-envelope form-control-feedback text-muted"></span>
                  </div>
                  <p class="text-left">Because we will send your unique ePoster Submission Code via email,
                    make sure that you enter the same email address you used during abstract submission.</p>
                  <p class="text-left">If you have more than one accepted ePosters,
                     we will send you the ePoster Submission Code for each of those.</p>

                  <!-- Message success or error -->
                  <div class="message" ng-class="{'bg-success': inboxSuccess, 'bg-danger': !inboxSuccess, show: inboxShow}" ng-bind-html="trust(inbox)">
                  </div> <!-- /message -->

                  <button type="submit" ng-click="sendSubmissionCode()" class="btn btn-success btn-block">Send me the Submission Code via email</button>
               </form>
            </div>
            <div class="panel-body" ng-show="!data.model.isSupported">
              <h3>Not supported</h3>
              <p>
                Go to our <a href="http://support.scigentech.com">Support Center</a>
                or reach out to our <a href="mailto:support@scigentech.com">Support team</a>
                for assistance.  </p>
            </div>
         </div>
      </div>
   </div>

<style>
  /* This margin value is set to 0 when the form-group is into a fieldset
   * We do not need this so re-set this in its initial value
   */
  fieldset .form-group {
    margin-bottom: 15px;
  }
</style>
