<!-- START aside-->
<aside class="aside">
  <div ng-include="'components/sidebar/sidebar.html'"></div>
</aside>
<section>
  <!-- START Page content-->
  <div class="main-content">
    <h3>Posters Calendar
      <br>
      <small>Posters calendar.</small>
    </h3>
    <div class="row">
      <div class="col-md-3 col-md main">

        <div class="panel panel-default">
          <div class="panel-heading">Search panel
            <a href="javascript:void(0);" data-perform="panel-collapse" data-toggle="tooltip" title="" class="pull-right" data-original-title="Collapse Panel">
              <em class="fa fa-minus"></em>
            </a>
          </div>
          <div class="panel-wrapper collapse in" style="height: auto;">
            <div class="panel-body">
              <input type="text" class="form-control inp-search" ng-model="postersCalendar.search" ng-change="postersCalendar.filteringBySearch()">

              <div class="form-group">
                <label>Presentation Type</label>
                <ui-select ng-model="postersCalendar.selectedPresentationType"
                           class=""
                           theme="bootstrap"
                           ng-disabled="disabled"
                           reset-search-input="false"
                           on-select="postersCalendar.filteringByPresentationType()">
                  <ui-select-match  placeholder="Select an type...">
                    <span >{{$select.selected._id}}</span>
                    <!--<span ng-show="$select.selected.count"> (non assigned: {{$select.selected.count}} )</span>-->
                  </ui-select-match>
                  <ui-select-choices repeat="presentationType in postersCalendar.uniquePresentationType">
                    <span no-enter="true" ng-bind-html="presentationType._id"></span>
                    <!--<span ng-show="presentationType.count" no-enter="true" ng-bind-html="'(non assigned: '+presentationType.count+' )'"></span>-->
                  </ui-select-choices>
                </ui-select>
              </div>
              <div class="form-group">
                <div class="checkbox c-checkbox">
                  <label>
                    <input type="checkbox" value="" ng-model="postersCalendar.assigned" data-ng-click="postersCalendar.filteringByAssigned()">
                    <span class="fa fa-check"></span>Include already assigned posters.</label>
                </div>
              </div>
              <div class="form-group">
                <div class="checkbox c-checkbox">
                  <label>
                    <input type="checkbox" value="" ng-model="postersCalendar.canceled" data-ng-click="postersCalendar.filteringByAssigned()">
                    <span class="fa fa-check"></span>Include canceled posters.</label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <span>List of posters</span>
            <span class="float-right" data-ng-click="postersCalendar.currentEventsLog()">Log</span>
          </div>
          <div ng-switch on="postersCalendar.filteredPostersList.length > 0">
            <!-- Display the content when available -->
            <div ng-switch-when="true">
              <div class="panel-body">
                <div data-drag="true"
                     jqyoui-draggable="{animate:false}"
                     data-jqyoui-options="{revert: true, revertDuration: 0}"
                     ng-repeat="poster in postersCalendar.filteredPostersList track by $index"

                     class="poster-wrapper alert alert-success"
                     data-id="{{poster._id}}">
                  <span class="label label-info mr ng-binding">{{poster.code}}</span>
                  <span>{{poster.title}} - {{poster.start| date: 'yyyy-MM-dd hh:mm a'}}</span>
                </div>

                <!-- pager -->
                <ul class="pager">
                  <!-- Previous button when enabled-->
                  <li ng-hide="postersCalendar.paginator.previous()" class="previous">
                    <a href ng-click="postersCalendar.previousPage()">Previous</a>
                  </li>

                  <!-- Previous button when disabled-->
                  <li class="previous disabled" ng-show="postersCalendar.paginator.previous()">
                    <a href>Previous</a>
                  </li>

                  <!-- Next button when enabled-->
                  <li ng-hide="postersCalendar.paginator.next()" class="next">
                    <a href ng-click="postersCalendar.nextPage()">Next</a>
                  </li>

                  <!-- Next button when disabled-->
                  <li class="next disabled" ng-show="postersCalendar.paginator.next()">
                    <a href>Next</a>
                  </li>
                </ul> <!-- /pager -->

              </div>
            </div>
            <!-- Say sorry when we are not able to display the content -->
            <div ng-switch-default class="panel-body">
              <p ng-hide="postersCalendar.search">Sorry, we unable to load the content.</p>
              <p ng-show="postersCalendar.search">No results found.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9 main">
        <!-- date parameters for posters -->
        <div class="form-group" ng-controller="TimeSlotItemCtrl">
          <div class="row">
            <div class="pull-left picker">
              <!-- Split button -->
              <p class="input-group ">
                <input type="text" class="form-control" datetime-picker="MMM dd, hh:mm a" ng-model="timeslot.startDate" is-open="opened[$index]" ng-blur="postersCalendar.updatePosters()" localdate />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event, $index)"><i class="fa fa-calendar"></i></button>
                        </span>
              </p>
            </div>

            <div class="pull-left datetimesmarker">
              <span>&ndash;</span>
            </div>

            <div class="pull-left picker">
              <p class="input-group">
                <input type="text" class="form-control" datetime-picker="MMM dd, hh:mm a" ng-model="timeslot.endDate" is-open="opened1[$index]"  ng-blur="postersCalendar.updatePosters()" localdate/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open1($event, $index)"><i class="fa fa-calendar"></i></button>
                        </span>
              </p>
            </div>
          </div>
        </div>

        <div data-drop="true"
             jqyoui-droppable="{multiple: true}"
             id="calendar"
             ui-calendar="postersCalendar.uiConfig.calendar"
             class="span8 calendar calendar-control"
             ng-model="postersCalendar.eventSources">
        </div>
      </div>
    </div>
  </div>
  <!-- END Page content-->
  <!-- START Page footer-->
  <footer ng-include="'app/posters/layout/footer.html'"></footer>
  <!-- END Page Footer-->
</section>
