<div class="panel panel-default" ng-class="{ active: $state.includes('posters.add'), 'csspinner traditional': ui.inProgress }" >
  <div class="panel-heading" ng-if="Add_Update == 'add' ">Add new poster</div>
  <div class="panel-heading" ng-if="Add_Update == 'update' ">Edit poster {{data.model.code}}</div>

    <form role="form" name="addForm" id="addForm">
      <div class="panel-body">
      <div class="form-group">
        <label for="title">Title *</label>
        <input type="text" class="form-control" id="title" ng-model="data.model.title" required>
      </div>
      <div class="form-group">
        <label for="body">Code</label>
        <input type="text" class="form-control"  class="form-control" rows="2" id="code" ng-model="data.model.code" />
      </div>
      <div class="form-group">
        <label for="body">Presentation Type</label>
        <input type="text" class="form-control"  class="form-control" rows="3" id="presentationType" ng-model="data.model.presentationType" />
      </div>
      <div class="form-group">
        <label for="body">Resource Key</label>
        <input type="text" class="form-control"  class="form-control" rows="3" id="resourceKey" ng-model="data.model.resourceKey" />
      </div>
      <div class="form-group">
        <label for="room">Room</label>
        <div class="row">
          <div class="col-md-8">

              <ui-select ng-model="selects.room"
                theme="bootstrap"
                ng-disabled="true"
                ng-disabled="!selects.rooms"
                reset-search-input="false"
                on-select="onselectRoom()">

                  <ui-select-match  placeholder="Select an room...">{{selects.room.title}}</ui-select-match>
                  <ui-select-choices repeat="r in selects.rooms">
                    <span  no-enter="true" ng-model="r.title" ng-bind-html="r.title | highlight: $select.search"></span>
                  </ui-select-choices>
              </ui-select>
              </div>
            </div>

      </div>
      <div class="form-group">
          <label for="monitor">Monitor</label>
          <div class="row">
            <div class="col-md-8">

                <ui-select ng-model="selects.monitor"
                  theme="bootstrap"
                  ng-disabled="true"
                  ng-disabled="!selects.room"
                  reset-search-input="false">

                    <ui-select-match  placeholder="Select an monitor">{{selects.monitor.title}}</ui-select-match>
                       <ui-select-choices repeat="m in selects.room.monitors">
                       <span  no-enter="true" ng-init="m.index = $index" ng-model="m.title" ng-bind-html="m.title | highlight: $select.search"></span>
                     </ui-select-choices>
                </ui-select>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="body">Date</label>
        <div class="row">
          <div class="col-md-8">
            <p class="input-group">
              <input ng-disabled="true" type="text" class="form-control" datetime-picker="yyyy MMM dd, hh:mm a" ng-model="dt" is-open="opened" min-date="'2015-01-01'" max-date="'2020-01-01'" datepicker-options="dateOptions" close-text="Close" localdate />
              <span class="input-group-btn">
                <button ng-disabled="true" type="button" class="btn btn-default date-btn" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
          </p>
          </div>
        </div>
      </div>
        <div class="form-group">
          <div class="checkbox c-checkbox">
            <label>
              <input type="checkbox" value="" id="isCanceled" ng-model="data.model.isCanceled">
              <span class="fa fa-check"></span>is canceled</label>
          </div>
        </div>
      <div class="form-group">
          <label>Authors</label> <a title="Add Authors" class="pull-right" ng-click="addAuthorsInput()">Add Author</a>
          <!--<table class="table-condensed">-->
          <table class="table table-hover">
            <tbody data-drop="true"
                   jqyoui-droppable="{multiple: true}"
                   data-jqyoui-options="{revert: true, greedy: true, hoverClass: 'bg-drop', tolerance: 'pointer'}"
                   ui-sortable="authorSortableOptions"
                   ng-model="data.model.authors">
              <!--<tr ng-repeat="item in data.model.authors" ng-controller="AuthorsItemCtrl">-->
              <tr ng-repeat="item in data.model.authors" ng-controller="AuthorsItemCtrl" class="item poster-wrapper panel">
                <td colspan="2" class="width-100-percent">
                  <table class="table-condensed">
                    <tr>
                      <td>
                        <label>First name</label>
                        <input class="form-control" type="text" ng-model="item.firstName" value="" placeholder="Firstname" required>
                      </td>
                      <td>
                        <label>Last name</label>
                        <input class="form-control" type="text" ng-model="item.lastName" value="" placeholder="Lastname" required>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label class="pull-right">Email:</label>
                      </td>
                      <td>
                        <input class="form-control" type="text" ng-model="item.email" value="" placeholder="Email">
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label class="pull-right">Institution:</label>
                      </td>
                      <td>
                        <input class="form-control" type="text" ng-model="item.institution" value="" placeholder="Institution">
                      </td>
                    </tr>
                    <tr>
                      <td>

                      </td>
                      <td>
                        <!--<div class="checkbox c-checkbox">-->
                        <div class="c-checkbox">
                          <label>
                            <input type="checkbox" ng-model="item.isCorresponding" data-ng-click="changeIsCorresponding($index, item.isCorresponding)">
                            <span class="fa fa-check"></span>Is Corresponding</label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>

                      </td>
                      <td>
                        <!--<div class="checkbox c-checkbox">-->
                        <div class="c-checkbox">
                          <label>
                            <input type="checkbox" ng-model="item.isPresenter" data-ng-click="changeIsPresenter($index, item.isPresenter)">
                            <span class="fa fa-check"></span>Is Presenter</label>
                        </div>
                      </td>
                    </tr>
                  </table>

                </td>
                <td>
                  <button type="button" class="btn btn-danger btn-xs pull-right" ng-click="removeAuthors($index)">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                  </button>
                </td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>
      <div class="panel-footer">
        <button ng-disabled="(addForm.$valid) ? false : true" class="btn btn-success" ng-click="save()">
          <span ng-if="Add_Update == 'add' " >Save</span>
          <span ng-if="Add_Update == 'update' ">Update</span>
        </button>
        <button ui-sref="posters" class="btn btn-warning">Cancel</button>
      </div>
    </div>
    </form>


</div>
