<div class="panel panel-default">
  <div class="panel-heading">Search panel
    <a href="javascript:void(0);" data-perform="panel-collapse" data-toggle="tooltip" title="" class="pull-right" data-original-title="Collapse Panel">
      <em class="fa fa-minus"></em>
    </a>
  </div>
  <div class="panel-wrapper collapse in" style="height: auto;">
    <div class="panel-body">
      <input type="text" class="form-control inp-search" ng-model="listCtrl.search" ng-change="listCtrl.filteringBySearch()">

      <div class="form-group">
        <label>Presentation Type</label>
        <ui-select ng-model="listCtrl.selectedPresentationType"
                   class=""
                   theme="bootstrap"
                   ng-disabled="disabled"
                   reset-search-input="false"
                   on-select="listCtrl.filteringByPresentationType()">
          <ui-select-match  placeholder="Select an type...">
            <span >{{$select.selected._id}}</span>
            <!--<span ng-show="$select.selected.count"> (non assigned: {{$select.selected.count}} )</span>-->
          </ui-select-match>
          <ui-select-choices repeat="presentationType in listCtrl.uniquePresentationType">
            <span no-enter="true" ng-bind-html="presentationType._id"></span>
            <!--<span ng-show="presentationType.count" no-enter="true" ng-bind-html="'(non assigned: '+presentationType.count+' )'"></span>-->
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="form-group">
        <div class="checkbox c-checkbox">
          <label>
            <input type="checkbox" value="" ng-model="listCtrl.assigned" data-ng-click="listCtrl.filteringByAssigned()">
            <span class="fa fa-check"></span>Include already assigned posters.</label>
        </div>
      </div>
      <div class="form-group">
        <div class="checkbox c-checkbox">
          <label>
            <input type="checkbox" value="" ng-model="listCtrl.canceled" data-ng-click="listCtrl.filteringByAssigned()">
            <span class="fa fa-check"></span>Include canceled posters.</label>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">List of posters</div>
  <div class="panel-body">
    <div ng-switch on="listCtrl.filteredPostersList.length > 0">
      <!-- Display the content when available -->
      <div ng-switch-when="true">

        <table class="table table-hover">
          <thead>
            <tr role="row">
              <th>Title</th>
              <th class="cell-actions">Actions</th>
          </thead>

          <tbody>
            <tr ng-repeat="poster in listCtrl.filteredPostersList"
                class="poster-wrapper panel"
                ng-controller="PostersItemCtrl">
              <td >
                <!--<p><span class="label label-info mr ng-binding">{{record.code}}</span>{{record.title}}</p>-->
                <!--<p>-->
                  <!--<span class="label label-primary">{{record.presentationType}}</span>-->
                <!--</p>-->
                <div ui-sref="posters.details({id: poster._id})">
                  <div>
                    <span ng-if="poster.isCanceled" class="label label-danger ng-binding">Canceled</span>
                    <span class="label label-default ng-binding"
                          ng-class="{'label-success': listCtrl.isPosterAssigned(poster)}"
                    >{{poster.code}}</span>
                    <span class="label label-primary">{{poster.presentationType}}</span>
                  </div>
                  <span class="poster-title">{{poster.title}}</span><br/>
                  <div>
                  <span ng-repeat="author in poster.authors" style="line-height: 150%">
                      <small class="text-muted">{{author.firstName}} {{author.lastName}}, </small>
                  </span>
                  </div>
                  <div>
                  <span ng-repeat="author in poster.authors" style="line-height: 150%">
                      <small class="text-muted">{{author.institution}}, </small>
                  </span>
                  </div>
                  <div>
                    <small class="text-muted">{{poster.startDate | localdate | date : 'yyyy MMM dd - hh:mm a'}}</small>
                  </div>
                  <div style="line-height: 150%">
                    <span class="label label-info">Session: {{poster.room.title}}</span>
                    <span ng-if="poster.monitor > -1" class="label label-info">{{poster.room.monitors[poster.monitor].title}}</span>
                  </div>

                </div>
              </td>
              <td>
                <button type="button" class="btn btn-labeled btn-default btn-xs" ui-sref="posters.update({id: poster._id})">
                  <span class="btn-label"><i class="fa fa-edit"></i></span>Edit
                </button>
                <button type="button" class="btn btn-labeled btn-danger btn-xs" ng-click="deleteItem(poster)">
                  <span class="btn-label"><i class="fa fa-trash-o"></i></span>Delete
                </button>

                <div style="margin-top: 10px;" ng-if="listCtrl.isPosterAssigned(poster)">
                  <small>
                    <a ui-sref="monitors({room:'{{poster.room._id}}', poster:'{{poster._id}}'})">Locate</a>,
                    <a ui-sref="rooms-split({room:'{{poster.room._id}}', poster:'{{poster._id}}'})">Reschedule</a>
                  </small>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <!-- pager -->
        <ul class="pager">
          <!-- Previous button when enabled-->
          <li ng-hide="listCtrl.paginator.previous()" class="previous">
            <a href ng-click="listCtrl.previousPage()">Previous</a>
          </li>

          <!-- Previous button when disabled-->
          <li class="previous disabled" ng-show="listCtrl.paginator.previous()">
            <a href>Previous</a>
          </li>

          <li class="pagination" >
            <span>Pages {{listCtrl.paginator.getPage()}} of {{listCtrl.paginator.getPages()}}</span>
          </li>

          <!-- Next button when enabled-->
          <li ng-hide="listCtrl.paginator.next()" class="next">
            <a href ng-click="listCtrl.nextPage()">Next</a>
          </li>

          <!-- Next button when disabled-->
          <li class="next disabled" ng-show="listCtrl.paginator.next()">
            <a href>Next</a>
          </li>
        </ul>
      </div>

      <!-- Say sorry when we are not able to display the content -->
      <div ng-switch-default>
        <p>No results found.</p>
      </div>
    </div>
  </div>
  <!-- //.panel-body -->
</div>
