<!-- START aside-->
<aside class="aside">
  <div ng-include="'components/sidebar/sidebar.html'"></div>
</aside>

<section>
  <!-- START Page content-->
  <div class="main-content screen-monitors">
    <h3>Assign Posters
      <br>
      <small>Posters monitor</small>
    </h3>
    <div ng-switch on="postersMonitors.Rooms.length > 0">
    <div class="row" ng-switch-when="true">
      <div class="col-md-3 col-md main">

        <div class="panel panel-default">
          <div class="panel-heading">Search panel
            <a href="javascript:void(0);" data-perform="panel-collapse" data-toggle="tooltip" title="" class="pull-right" data-original-title="Collapse Panel">
              <em class="fa fa-minus"></em>
            </a>
          </div>
          <div class="panel-wrapper collapse in" style="height: auto;">
            <div class="panel-body">
              <input type="text" class="form-control inp-search" ng-model="postersMonitors.search" ng-change="postersMonitors.filteringBySearch()">

              <div class="form-group">
                <label>Presentation Type</label>
                <ui-select ng-model="postersMonitors.selectedPresentationType"
                           class=""
                           theme="bootstrap"
                           ng-disabled="disabled"
                           reset-search-input="false"
                           on-select="postersMonitors.filteringByPresentationType()">
                  <ui-select-match  placeholder="Select an type...">
                    <span >{{$select.selected._id}}</span>
                    <!--<span ng-show="$select.selected.count"> (non assigned: {{$select.selected.count}} )</span>-->
                  </ui-select-match>
                  <ui-select-choices repeat="presentationType in postersMonitors.uniquePresentationType">
                    <span no-enter="true" ng-bind-html="presentationType._id"></span>
                    <!--<span ng-show="presentationType.count" no-enter="true" ng-bind-html="'(non assigned: '+presentationType.count+' )'"></span>-->
                  </ui-select-choices>
                </ui-select>
              </div>
              <div class="form-group">
                <div class="checkbox c-checkbox">
                   <label>
                      <input type="checkbox" value="" ng-model="postersMonitors.assigned" data-ng-click="postersMonitors.filteringByAssigned()">
                      <span class="fa fa-check"></span>Include already assigned posters.</label>
                </div>
              </div>
              <div class="form-group">
                <div class="checkbox c-checkbox">
                  <label>
                    <input type="checkbox" value="" ng-model="postersMonitors.canceled" data-ng-click="postersMonitors.filteringByAssigned()">
                    <span class="fa fa-check"></span>Include canceled posters.</label>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="panel panel-default">
          <div class="panel-heading">
            <span>List of posters</span>
            <span class="float-right" data-ng-click="postersMonitors.currentEventsLog()">Log</span>
          </div>
          <div ng-switch on="postersMonitors.filteredPostersList.length > 0">
            <!-- Display the content when available -->
            <div ng-switch-when="true">

              <div class="panel-body">

                <script type="text/ng-template" id="posterPopoverTemplate.html">

                    <!--
                    <span class="poster-title">{{poster.title}}</span><br/>
                    -->
                    <h5 style="min-width: 260px">{{poster.title}}</h5>
                    <p data-ng-hide="poster.startDate"><small><em>The date and time have not yet been set.<em></small></p>
                    <p data-ng-show="poster.startDate">{{poster.startDate | localdate | date :'MMM dd, yyyy, hh:mm a'}} - {{poster.startDate + poster.duration *60 * 1000 | localdate | date :'hh:mm a'}}</p>
                    <h6>Authors</h6>
                    <ul class="list-unstyled" style="margin-left:16px">
                      <li ng-repeat="author in poster.authors" style="line-height: 150%">
                          <small class="text-muted">{{author.firstName}} {{author.lastName}} </small>
                      </li>
                    </ul>
                    <h6>Institutions</h6>
                    <ul class="list-unstyled" style="margin-left:16px">
                      <li ng-repeat="author in poster.authors" style="line-height: 150%">
                          <small class="text-muted">{{author.institution}} </small>
                      </li>
                    </ul>
                </script>


                <div data-drag="true"
                     jqyoui-draggable="{animate:false}"
                     data-jqyoui-options="{revert: true, revertDuration: 0}"
                     ng-repeat="poster in postersMonitors.filteredPostersList"
                     class="poster-wrapper panel"
                     data-id="{{poster._id}}"
                     ng-click=""
                     popover-template="postersMonitors.posterDynamicPopover.templateUrl"
                     popover-placement="right"
                     popover-trigger="click"

                     >
                  <span ng-if="poster.isCanceled" class="label label-danger ng-binding">Canceled</span>
                  <span class="label label-default ng-binding"
                        ng-class="{'label-success': postersMonitors.isPosterAssigned(poster)}"

                        >{{poster.code}}</span>

                  <span class="label label-default pull-right">
                    {{poster.startDate | localdate | date :'MMM dd, yyyy - hh:mm a'}}
                  </span>

                  <div style="line-height: 150%">
                    <span class="label label-primary">{{poster.presentationType}}</span>
                    <span ng-if="poster.monitor > -1" class="label label-info">{{poster.room.monitors[poster.monitor].title}}</span>
                    <span class="label label-info" ui-sref="rooms-split({room: '{{poster.room._id}}'})">{{poster.room.roomName}}</span>
                    <span class="label label-info">{{poster.date}}</span>
                  </div>
                </div>



                <!-- pager -->
                <ul class="pager">
                  <!-- Previous button when enabled-->
                  <li ng-hide="postersMonitors.paginator.previous()" class="previous">
                    <a href ng-click="postersMonitors.previousPage()">Previous</a>
                  </li>

                  <!-- Previous button when disabled-->
                  <li class="previous disabled" ng-show="postersMonitors.paginator.previous()">
                    <a href>Previous</a>
                  </li>

                  <!-- Next button when enabled-->
                  <li ng-hide="postersMonitors.paginator.next()" class="next">
                    <a href ng-click="postersMonitors.nextPage()">Next</a>
                  </li>

                  <!-- Next button when disabled-->
                  <li class="next disabled" ng-show="postersMonitors.paginator.next()">
                    <a href>Next</a>
                  </li>
                </ul> <!-- /pager -->

              </div>
            </div>
            <!-- Say sorry when we are not able to display the content -->
            <div ng-switch-default class="panel-body">
              <p ng-hide="postersMonitors.search">Sorry, we unable to load the content.</p>
              <p ng-show="postersMonitors.search">No results found.</p>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-9 main"  >
        <!--
        <div id="affixp" class="panel panel-default" affix>
        -->
        <div class="panel panel-default">
          <div class="panel-heading panel-listP">
            Room/Session and Monitors
          </div>
          <div id="room" class="panel-body"
               data-drop="true"
               data-jqyoui-options="{hoverClass: 'bg-drop', tolerance: 'pointer'}"
               jqyoui-droppable="{multiple: true, onDrop: 'postersMonitors.onDropRoom'}">

             <!-- trash bin -->
             <div id="trash-bin" class="panel widget" style="float: right"
                  data-drop="true"
                  data-jqyoui-options="{revert: true, greedy: true, hoverClass: 'bg-drop', tolerance: 'pointer'}"
                  jqyoui-droppable="{multiple: true, onDrop: 'postersMonitors.onDropTrash'}">
                <div class="panel-body">
                   <h3 class="text-center">Unassign</h3>
                   <div class="text-center text-muted">
                      <em class="fa fa-trash-o fa-2x"></em>
                   </div>
                   <p class="text-center text-muted">Drag a poster here.</p>
                </div>
             </div>

            <div class="form-group">
              <div class="display-inline-block vertical-align-top">
                <label>Select Category of Rooms</label>
                <ui-select ng-model="postersMonitors.selectedCategory"
                           class="room-select"
                           theme="bootstrap"
                           ng-disabled="disabled"
                           reset-search-input="false"
                           on-select="postersMonitors.changeSelectedRoom()">
                  <ui-select-match  placeholder="Select an room...">{{$select.selected}}</ui-select-match>
                  <ui-select-choices repeat="category in postersMonitors.categories | filter: $select.search">
                    <span  no-enter="true" ng-bind-html="category"></span>
                  </ui-select-choices>
                </ui-select>

              </div>
            </div>

            <div class="form-group">
              <div class="display-inline-block vertical-align-top">
                <label>State</label>
                <ui-select ng-model="postersMonitors.selectedStateRoom"
                           class="room-select"
                           theme="bootstrap"
                           ng-disabled="disabled"
                           reset-search-input="false"
                           on-select="postersMonitors.changeSelectedState()">
                  <ui-select-match  placeholder="Select an state for room...">{{$select.selected}}</ui-select-match>
                  <ui-select-choices repeat="state in postersMonitors.statesRoom | filter: $select.search">
                    <span  no-enter="true" ng-bind-html="state"></span>
                  </ui-select-choices>
                </ui-select>

              </div>
            </div>

            <div class="form-group">
              <div class="display-inline-block vertical-align-top">
                <label>Session / Room</label>
                <ui-select ng-model="postersMonitors.currentRoom"
                           class="room-select"
                           theme="bootstrap"
                           ng-disabled="disabled"
                           reset-search-input="false"
                           on-select="postersMonitors.selectionOnRoom()">
                  <ui-select-match  placeholder="Select an room...">
                    <div data-ng-show="!postersMonitors.currentRoom._id">no results</div>
                    <div data-ng-show="postersMonitors.currentRoom._id">
                    <span>{{postersMonitors.currentRoom.title}} - {{postersMonitors.currentRoom.roomName}}</span>
                    <span class="" data-ng-show="postersMonitors.currentRoom.fillState.indexOf('overflown') != -1">(overflown)</span>
                    <span class="" data-ng-show="postersMonitors.currentRoom.fillState.indexOf('empty') != -1">(empty)</span>
                    </div>
                  </ui-select-match>
                  <!--<ui-select-choices repeat="room in postersMonitors.Rooms | roomByCategory: postersMonitors.selectedCategory | roomByState: postersMonitors.selectedStateRoom :  postersMonitors.Rooms | filter: $select.search">-->
                  <ui-select-choices data-ng-hide="!postersMonitors.currentRoom._id" repeat="room in postersMonitors.Rooms | filter: $select.search">
                    <span  no-enter="true" ng-model="room.title" ng-bind-html="room.title">{{room.title}} - {{room.roomName}}</span>
                    <span class="" data-ng-show="room.fillState.indexOf('overflown') != -1">(overflown)</span>
                    <span class="" data-ng-show="room.fillState.indexOf('empty') != -1">(empty)</span>
                  </ui-select-choices>
                </ui-select>

              </div>
            </div>


            <!--
               - TODO: Do we need a date control any more?
               - -->
            <div class="display-inline-block vertical-align-top" style="display: none">
              <label>Date</label>
              <input class="form-control" type="text" id="datepicker">
            </div>

            <div ng-switch on="!postersMonitors.currentRoom._id">
              <div ng-switch-when="false">
                <div class="block-monitors">
                  <div class="monitors-in-room" data-ng-class="{'smaller-width': postersMonitors.PostersOnRoomWithoutMonitor}">
                    <div class="monitors-container sortable-poster display-inline-block vertical-align-top" data-ng-repeat="monitor in postersMonitors.currentRoom.monitors">

                      <div data-index="{{$index}}"
                           data-drop="true"
                           jqyoui-droppable="{multiple: true, onDrop: 'postersMonitors.onDropMonitor'}"
                           data-jqyoui-options="{revert: true, greedy: true, hoverClass: 'bg-drop', tolerance: 'pointer'}"
                           class="panel panel-default monitor monitor-{{postersMonitors.monitorOverflow[$index]}}">

                           <div class="panel-heading">
                             <small class="text-muted">{{monitor.title}}</small>
                             <a href="javascript:void(0);" data-perform="panel-collapse" data-toggle="tooltip" title="" class="pull-right" data-original-title="Collapse Panel">
                               <em class="fa fa-minus"></em>
                             </a>
                           </div>
                           <div class="panel-wrapper collapse in" style="height: auto;">
                            <div class="panel-body">
                               <div ui-sortable="postersMonitors.sortableOptions"
                                    data-ng-model="postersMonitors.eventMonitor[$index]"
                                    class="floatingList"
                                    data-index="{{$index}}">

                                 <div data-ng-repeat="poster in postersMonitors.eventMonitor[$index]"
                                      data-id="{{poster._id}}"
                                      class="item poster-wrapper panel"
                                      ng-class="{'allocates-selected-poster': poster._id == postersMonitors.selectedPoster}"

                                      popover-template="postersMonitors.posterDynamicPopover.templateUrl"
                                      popover-placement="right"
                                      popover-trigger="click"
                                      >
                                   <small>{{poster.code}}</small>
                                 </div>

                               </div>
                             </div> <!-- /.panel-body -->
                           </div> <!-- /.panel-wrapper collapse -->
                      </div>
                    </div>
                  </div>
                  <div class="posters-in-room">
                    <div data-ng-repeat="poster in postersMonitors.eventMonitor['-1']"
                         data-id="{{poster._id}}"
                         data-drag="true"
                         jqyoui-draggable="{animate:false}"
                         data-jqyoui-options="{revert: true, revertDuration: 0}"
                         class="poster-wrapper panel"

                         popover-template="postersMonitors.posterDynamicPopover.templateUrl"
                         popover-placement="top"
                         popover-trigger="click"

                         >
                         <span class="label label-default ng-binding">{{poster.code}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div ng-switch-default>
                There are no rooms that satisfy the selected conditions.
              </div>
            </div>

          <button type="button" class="btn btn-primary count-button" ng-click="">{{postersMonitors.PostersOnRoomWithoutMonitor}}</button>
        </div>
      </div>
    </div>
    </div>
    <div ng-switch-default>
      Sorry, we unable to load the content.
    </div>
  </div>
  </div>
  <!-- END Page content-->
  <!-- START Page footer-->
  <footer ng-include="'app/posters/layout/footer.html'"></footer>
  <!-- END Page Footer-->
</section>
