<!-- START aside-->
<aside class="aside">
  <div ng-include="'components/sidebar/sidebar.html'"></div>
</aside>

<section>
  <!-- START Page content-->
  <div class="main-content">
    <h3>Schedule Posters
      <br>
      <small>Schedule Posters</small>
    </h3>

    <div class="row print-none" ng-class="{'csspinner traditional': schedule.ui.inProgress }" >

      <div class="panel panel-default">
        <div class="panel-heading">Search panel
          <a href="javascript:void(0);" data-perform="panel-collapse" data-toggle="tooltip" title="" class="pull-right" data-original-title="Collapse Panel">
            <em class="fa fa-minus"></em>
          </a>
        </div>
        <div class="panel-wrapper collapse in" style="height: auto;">
          <div class="panel-body">
            <div class="form-group">

              <div class="display-inline-block vertical-align-top">
                <label>Search</label>
                <input type="text" class="form-control inp-search room-select" ng-model="schedule.search" ng-change="schedule.filteringBySearch()">
              </div><!-- /display-inline-block -->

              <div class="display-inline-block vertical-align-top">
                <label>Start Date</label>
                  <p class="input-group  room-select">
                    <input type="text" class="form-control room-select" ng-change="changeDate()" datetime-picker="yyyy MMM dd" ng-model="dt" is-open="opened" min-date="'2015-01-01'" max-date="'2020-01-01'" enable-time="false" datepicker-options="dateOptions" close-text="Close" localdate />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default date-btn" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                  </p>

                  <div id="datestamps">
                    <span>
                       <a class="label label-default" ng-click="schedule.clearPosterDate()" style="cursor: pointer">All days</a> <span class="point"></span>
                    </span>
                    <span ng-repeat="link in schedule.dateLinks">
                     <a class="label label-primary" ng-click="schedule.setPosterDate(link)" style="cursor: pointer">{{link}}</a> <span ng-if="$index < schedule.dateLinks.length-1" class="point"></span>
                    </span>
                  </div><!-- /#datestamps -->

              </div><!-- /display-inline-block -->
            </div><!-- /form-group -->

            <div class="form-group">
              <div class="display-inline-block vertical-align-top">
                <label>Presentation Type</label>
                <ui-select ng-model="schedule.selectedPresentationType"
                           class="room-select"
                           theme="bootstrap"
                           ng-disabled="disabled"
                           reset-search-input="false"
                           on-select="schedule.filteringByPresentationType()">
                  <ui-select-match  placeholder="Select an type...">
                    <span >{{$select.selected._id}}</span>
                    <!--<span ng-show="$select.selected.count"> (non assigned: {{$select.selected.count}} )</span>-->
                  </ui-select-match>
                  <ui-select-choices repeat="presentationType in schedule.uniquePresentationType">
                    <span no-enter="true" ng-bind-html="presentationType._id"></span>
                    <!--<span ng-show="presentationType.count" no-enter="true" ng-bind-html="'(non assigned: '+presentationType.count+' )'"></span>-->
                  </ui-select-choices>
                </ui-select>
              </div><!-- /display-inline-block -->

              <div class="display-inline-block vertical-align-top">
                <label>Session</label>
                <ui-select ng-model="schedule.selectedRoom"
                           class="room-select"
                           theme="bootstrap"
                           ng-disabled="disabled"
                           reset-search-input="false"
                           on-select="schedule.filteringByRoom()">
                  <ui-select-match  placeholder="Select a session...">{{$select.selected.title}} - {{$select.selected.roomName}}</ui-select-match>
                  <ui-select-choices repeat="room in schedule.Rooms | filter: $select.search">
                    <span  no-enter="true">{{room.title}} - {{room.roomName}}</span>
                  </ui-select-choices>
                </ui-select>

              </div><!-- /display-inline-block -->
            </div><!-- /form-group -->

          </div><!-- /panel-body -->
        </div><!-- /panel-wrapper collapse in -->
      </div><!-- /panel panel-default -->

      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="wide-panel-header">Posters schedule panel</div>
          <button type="button" class="btn btn-primary pull-right" data-ng-click="schedule.onExport()">
            Export to CSV</button>
          <button type="button" class="btn btn-primary pull-right margin-right-15" data-ng-click="schedule.onPrint()">
            Print</button>
        </div>
        <div class="panel-body">

          <div ng-switch on="schedule.postersList.length > 0">
            <div class="row" ng-switch-when="true">

              <table class="table table-striped table-hover">
                <thead>
                  <tr role="row">
                  <!--
                  <th >Code</th>
                  -->
                  <th >Poster Title and Authors</th>
                  <th >Presentation info</th>
                  <!--
                  <th >Presentation Type</th>
                  <th >Start Date and Time</th>
                  <th >Duration (min)</th>
                  -->
                  <!--<th >Authors</th>-->
                </thead>

                <tbody>
                <tr ng-repeat="record in schedule.postersList">
                  <!--
                  <td >
                    <p>{{record.code}}</p>
                  </td>
                  -->
                  <td style="width:65%">
                    <p ng-if="record.isCanceled" class="label label-danger ng-binding">Canceled</p>
                    <p>{{record.code}}</p>
                    <h4>{{record.title}}</h4>
                    <span ng-repeat="author in record.authors" style="/*white-space: nowrap;*/">
                      <span>{{author.firstName}}</span>
                      <span> {{author.lastName}}</span>
                      <sup><span ng-if="author.isPresenter" class="label label-primary">Presenter</span></sup>
                      <sup><span ng-if="author.isCorresponding" class="label label-info">Corresponding</span></sup>
                      <span ng-if="$index < record.authors.length-1" class="point"></span>
                    </span>
                  </td>
                  <td style="width:35%">
                    <p style="white-space: nowrap;"><span class="text-muted mr">Session:</span>
                      {{record.room ? record.room.title+'-'+record.room.roomName : 'No Room'}}/{{record.room.monitors[record.monitor].title ? record.room.monitors[record.monitor].title:'No Monitor'}}
                    </p>
                    <p style="white-space: nowrap;"><span class="text-muted mr">Presetnation type:</span>{{record.presentationType}}</p>
                    <p style="white-space: nowrap;"><span class="text-muted mr">Starts at:</span>{{record.startDate | localdate | date :'MMM dd, yyyy - hh:mm a'}}</p>
                    <p style="white-space: nowrap;"><span class="text-muted mr">Duration:</span>{{record.duration}} minutes</p>
                  <!--
                  <td style="min-width: 160px">
                    <p>{{record.presentationType}}</p>
                  </td>
                  <td style="min-width: 100px">
                    <p>{{record.startDate | localdate | date :'MMM dd, yyyy - hh:mm a'}}</p>
                  </td>
                  <td>
                    <p>{{record.duration}}</p>
                  </td>
                -->
                  <!--<td style="min-width: 120px">-->
                    <!--<p ng-repeat="author in record.authors" style="white-space: nowrap;">-->
                      <!--<span>{{author.firstName}}</span>-->
                      <!--<span> {{author.lastName}}</span>-->
                      <!--<sup><span ng-if="author.isPresenter" class="label label-primary">Presenter</span></sup>-->
                      <!--<sup><span ng-if="author.isCorresponding" class="label label-info">Corresponding</span></sup>-->
                    <!--</p>-->
                  <!--</td>-->
                </tr>
                </tbody>
              </table>


              <!-- pager -->
              <ul class="pager" style="margin: 15px;">
                <!-- Previous button when enabled-->
                <li ng-hide="schedule.paginator.previous()" class="previous">
                  <a href ng-click="schedule.previousPage()">Previous</a>
                </li>

                <!-- Previous button when disabled-->
                <li class="previous disabled" ng-show="schedule.paginator.previous()">
                  <a href>Previous</a>
                </li>

                <li class="pagination" >
                  <span>Pages {{schedule.paginator.getPage()}} of {{schedule.paginator.getPages()}}</span>
                </li>

                <!-- Next button when enabled-->
                <li ng-hide="schedule.paginator.next()" class="next">
                  <a href ng-click="schedule.nextPage()">Next</a>
                </li>

                <!-- Next button when disabled-->
                <li class="next disabled" ng-show="schedule.paginator.next()">
                  <a href>Next</a>
                </li>
              </ul> <!-- /pager -->
            </div>
            <div ng-switch-default>
              No results found.
            </div>

          </div>

        </div><!-- /panel-body -->
      </div><!-- /panel panel-default-->

    </div><!-- /row -->

    <!--print page-->
    <div class="row print">
        <div class="panel-body">
          <div ng-repeat="(type, firstGrouping) in schedule.printData | groupBy: 'presentationType'">
            <h2>{{type}}</h2>

            <div class="panel-body" ng-repeat="(date, secondGrouping) in firstGrouping | groupBy: 'sortDate'">
              <h3>{{date | localdate | date :'MMM dd, yyyy'}}</h3>

              <div class="panel-body" ng-repeat="record in secondGrouping |orderBy: 'startDate'">
                <p>{{record.code}}</p>
                <p><b>{{record.title}}</b></p>
                <p ng-repeat="author in record.authors" style="white-space: nowrap; display: inline-block">
                  <span>{{author.firstName}}</span>
                  <span> {{author.lastName}}</span>
                </p>
                <p><b>Session: </b>{{record.room ? record.room.title+'-'+record.room.roomName : 'No Room'}}/{{record.monitor == -1 ? 'No Monitor' : record.monitor}}</p>
                <p><b>Start date/time: </b>{{record.startDate | localdate | date :'MMM dd, yyyy - hh:mm a'}}</p>
                <p><b>Presentation type: </b>{{record.presentationType}}</p><hr/><br/>
              </div>
            </div>

          </div>
        </div>
    </div><!-- /row -->

  </div><!-- /main-content -->
  <!-- END Page content-->
  <!-- START Page footer-->
  <footer ng-include="'app/posters/layout/footer.html'"></footer>
  <!-- END Page Footer-->
</section>
