<table class="table table-striped table-hover">
	<thead>
		<tr role="row">
			<th>Code</th>
			<th>Title</th>
			<th>Authors</th>
	</thead>
	<tbody>
		<tr ng-repeat="record in exportCsv.filteredPostersList">
			<td>
				<p>{{record.code}}</p>
			</td>
			<td>
				<p>{{record.title}}</p>
			</td>
			<td style="min-width: 120px">
				<p ng-repeat="author in record.authors" style="white-space: nowrap;">
					<span>{{author.firstName}}</span>
					<span>{{author.lastName}}</span>
					<sup>
						<span ng-if="author.isPresenter" class="label label-primary">Presenter</span>
					</sup>
					<sup>
						<span ng-if="author.isCorresponding" class="label label-info">Corresponding</span>
					</sup>
				</p>
			</td>
		</tr>
	</tbody>
</table>
<!-- pager -->
<ul class="pager padding-10">
	<!-- Previous button when enabled-->
	<li ng-hide="exportCsv.paginator.previous()" class="previous">
		<a href ng-click="exportCsv.previousPage()">Previous</a>
	</li>
	<!-- Previous button when disabled-->
	<li class="previous disabled" ng-show="exportCsv.paginator.previous()">
		<a href>Previous</a>
	</li>
	<!-- Next button when enabled-->
	<li ng-hide="exportCsv.paginator.next()" class="next">
		<a href ng-click="exportCsv.nextPage()">Next</a>
	</li>
	<!-- Next button when disabled-->
	<li class="next disabled" ng-show="exportCsv.paginator.next()">
		<a href>Next</a>
	</li>
</ul>
<!-- /pager -->
