<div class="panel panel-default" ng-class="{ active: $state.includes('downloads.details') }">
  <div class="panel-heading">
   {{data.model.purchaseId}}
   <a href title="Edit this submissioncodes order" class="fa fa-edit pull-right" ui-sref="submissioncodes_orders.update({id: data.model._id})"></a>
  </div>

  <div class="panel-body">
    <div ng-if="data.model.abstractId">
      <label>{{'SUBMISSIONCODES_ORDERS_DETAILS_ABSTRACTID_LABEL' | translate}}</label>: <span>{{data.model.abstractId}}</span> 
    </div>    <div ng-if="data.model.submissionCode">
      <label>{{'SUBMISSIONCODES_ORDERS_DETAILS_SUBMISSIONCODE_LABEL' | translate}}</label>: <span>{{data.model.submissionCode}}</span>
    </div>
    <div ng-if="data.model.purchaseDate">
      <label>{{'SUBMISSIONCODES_ORDERS_DETAILS_PURCHASEDATE_LABEL' | translate}}</label>: <span>{{data.model.purchaseDate | date:'medium'}}</span> <!-- | amDateFormat:'DD MMM YYYY HH:mm'} -->
    </div>
    <div ng-if="data.model.productId">
      <label>{{'SUBMISSIONCODES_ORDERS_DETAILS_PRODUCTID_LABEL' | translate}}</label>: <span>{{data.model.productId}}</span>
    </div>
    <div ng-if="data.model.quantity">
      <label>{{'SUBMISSIONCODES_ORDERS_DETAILS_QUANTITY_LABEL' | translate}}</label>: <span>{{data.model.quantity}}</span>
    </div>
    <div ng-if="data.model.runningNo">
      <label>{{'SUBMISSIONCODES_ORDERS_DETAILS_RUNNINGNO_LABEL' | translate}}</label>: <span>{{data.model.runningNo}}</span>
    </div>
    <div ng-if="data.model.name">
      <label>{{'SUBMISSIONCODES_ORDERS_DETAILS_NAME_LABEL' | translate}}</label>: <span>{{data.model.name}}</span>
    </div>
    <div ng-if="data.model.email">
      <label>{{'SUBMISSIONCODES_ORDERS_DETAILS_EMAIL_LABEL' | translate}}</label>: <span>{{data.model.email}}</span>
    </div>
    <div ng-if="data.model.additionalEmails.length">
      <label>{{'SUBMISSIONCODES_ORDERS_DETAILS_ADDITIONALEMAILS_LABEL' | translate}}</label>: <span ng-repeat="email in data.model.additionalEmails track by $index">{{email}}{{$last ? '' : ', '}}</span>
    </div>
    <div ng-if="data.model.company">
      <label>{{'SUBMISSIONCODES_ORDERS_DETAILS_COMPANY_LABEL' | translate}}</label>: <span>{{data.model.company}}</span>
    </div>
    <div ng-if="data.model.street">
      <label>{{'SUBMISSIONCODES_ORDERS_DETAILS_STREET_LABEL' | translate}}</label>: <span>{{data.model.street}}</span>
    </div>
    <div ng-if="data.model.country">
      <label>{{'SUBMISSIONCODES_ORDERS_DETAILS_COUNTRY_LABEL' | translate}}</label>: <span>{{data.model.country}}</span>
    </div>
    <div ng-if="data.model.city">
      <label>{{'SUBMISSIONCODES_ORDERS_DETAILS_CITY_LABEL' | translate}}</label>: <span>{{data.model.city}}</span>
    </div>
    <div ng-if="data.model.zip">
      <label>{{'SUBMISSIONCODES_ORDERS_DETAILS_ZIP_LABEL' | translate}}</label>: <span>{{data.model.zip}}</span>
    </div>
    <div ng-if="data.model.notes">
      <label>{{'SUBMISSIONCODES_ORDERS_DETAILS_NOTES_LABEL' | translate}}</label>: <span>{{data.model.notes}}</span>
    </div>

  </div>


</div>
